<div class="appcmp">
    <div class="head">

        <marquee>
            <h1> Ojas Innovative Technologies</h1>
        </marquee>
    </div>
    <div class="resp">
        <div class="row">
            <div>\
                <img src="../../assets/logoojas.jpg"> 
            </div>
            <div>
                <form [formGroup]="loginform">
                    <div>
                        <div>
                            <label for="first-name"> Employee Name: </label><br>
                            <input id="first-name" type="text" formControlName="EmployeeName" class="form-control"
                                placeholder="employeeName"> <br>
                            <span
                                *ngIf="loginform.get('EmployeeName')?.errors && loginform.get('EmployeeName')?.touched "
                                id="demo"><strong>*Name Required</strong></span>
                            <!-- <span *ngIf="loginform.get('Name')?.errors?.maxlength" >*name should be maximum 10</span> -->
                        </div>
                        <div>
                            <label for="employeeid">Employee Id: </label><br>
                            <input id="employeeid" type="text" formControlName="employeeid" class="form-control"
                                placeholder="employeeid"> <br>
                            <span *ngIf="loginform.get('employeeid')?.errors && loginform.get('employeeid')?.touched "
                                id="demo"><strong>*EmployeeId is Required</strong></span>
                            <!-- <span *ngIf="loginform.get('password')?.errors?.minlength" >*password should be minimum 4</span> -->
                        </div>
                        <div>
                            <label for="ClientName">ClientName </label><br>
                            <input id="ClientName" type="text" formControlName="clientName" class="form-control"
                                placeholder="clientName"> <br>
                            <span *ngIf="loginform.get('clientName')?.errors && loginform.get('clientName')?.touched "
                                id="demo"><strong>*ClientName is Required</strong></span>
                            <!-- <span *ngIf="loginform.get('password')?.errors?.minlength" >*password should be minimum 4</span> -->
                        </div>
                        <div>
                            <label for="Startdate">Timesheet Startdate </label><br>
                            <input id="Startdate" type="date" formControlName="startDate" class="form-control"
                                class="form-control" placeholder="yyyy-dd-mm"> <br>
                            <span *ngIf="loginform.get('startDate')?.errors && loginform.get('startDate')?.touched "
                                id="demo"><strong>*Startdate is Required</strong></span>
                            <!-- <span *ngIf="loginform.get('password')?.errors?.minlength" >*password should be minimum 4</span> -->
                        </div>
                        <div>
                            <label for="endDate">Timesheet Enddate</label><br>
                            <input id="endDate" type="date" formControlName="endDate" class="form-control"  placeholder="yyyy-dd-mm"> <br>
                            <span *ngIf="loginform.get('endDate')?.errors && loginform.get('endDate')?.touched "
                                id="demo"><strong>*EndDate is Required</strong></span>
                            <!-- <span *ngIf="loginform.get('password')?.errors?.minlength" >*password should be minimum 4</span> -->
                        </div>
                        <div>
                            <label for="FileName">UploadFile</label><br>
                            <input id="FileName" type="file" formControlName="FileName" class="form-control"
                                style="padding-top: 3px;" multiple accept=".jpeg,.png,xlsx"> <br>
                            <span *ngIf="loginform.get('FileName')?.errors && loginform.get('FileName')?.touched "
                                id="demo"><strong>*Png,xlsx,jpeg Files are Required</strong></span>
                            <!-- <span *ngIf="loginform.get('password')?.errors?.minlength" >*password should be minimum 4</span> -->
                        </div>
                        <div>
                            <button class="btn btn-danger btn-lg" [disabled]="!loginform.valid"
                                (click)="submited()">submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>