.resp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
   
}
/* label{
    
    color: azure;
    
} */
form{
    width: 600px;
    /* //box-shadow: 2px 2px 15px 2px rgb(14, 13, 13); */
   margin-left: 100px;
   margin-top: 30px;
   
}
#demo{
    color: tomato;
    /* background-color: black; */
}
input{
    background-color: beige;
    /* box-shadow: 2px 2px 15px 12px rgb(26, 23, 23); */
    width: 580px;
}


input.ng-invalid.ng-touched{
    border: solid rgb(196, 26, 26);
    /* box-shadow: 2px 2px 20px 2px rgb(190, 25, 25) inset; */
}
input.ng-valid{
    border: solid green;
    /* box-shadow: 2px 2px 20px 8px rgb(110, 212, 15) inset; */
}
  h1{
    
   color: aqua;

  }
  .head{
      width: 100%;
      background-color: black;
      margin-top: 20px;

  }
  /* .appcmp{
      background-image: url("../../assets/normal.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: cover;
      height: 760px;
      

  } */
  *{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
  }
  button{
      margin-left: 250px;
  }
  img{
      margin-top: 50px;
    height: 500px;
    width: 600px;
    /* box-shadow: 2px 2px 15px 2px rgb(26, 23, 23); */
}
  